.memory {
  background-color: #fffbe9;

  h1 {
    padding-top: 30px;
    margin: 0;
    font-size: 60px;
    text-align: center;
    color: #9f2b2b;
  }

  .gallery-photos {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    row-gap: 30px;

    img {
      width: 300px;
      // border: 2px solid black;
    }
  }

  .memory-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    p {
      font-size: 30px;
      text-align: center;
    }
  }
}

.memorycard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  h3 {
    font-size: 40px;
    margin: 0;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    p {
      font-size: 24px;
    }
  }
}
