.App {
  font-family: "Cookie", cursive;
}

.btn-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  width: 150px;
  height: 40px;
  color: #fff;
  font-size: 24px;
  margin: 40px auto 0 auto;

  background: #da2232;
  border-radius: 40px;
  transition: all 0.3s;
}

.btn {
  font-size: 32px;
  padding: 50px 0 0 100px;
  cursor: pointer;
  border-radius: 50%;
}

.btn-primary:hover {
  background: #bc0414;
  transform: translateY(-10px);
}

@media screen and (max-width: 550px) {
  .btn {
    padding: 50px 0 0 30px;
  }
}
